<h1>Edit Patient</h1>
<%= form_for :patient, url: patient_path(@patient), method: :patch do |f| %>
<% if @patient.errors.any? %>
  <% @patient.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field(:name, {:class => 'form-control'}) %>
</p>
<p>
  <%= f.label :date_of_birth %><br>
  <%= f.date_select :dob, {:start_year => 1900}%>
</p>
<p>
  <%= f.label :address %><br>
  <%= f.text_field(:address, {class: "form-control"}) %>
</p>
<p>
  <%= f.label :phone_no %><br>
  <%= f.text_field(:phone_no, {:class => 'form-control'}) %>
</p>
<p>
  <%= f.submit({:class => "btn btn-primary"}) %>
</p>
<% end %>
